blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorclass==2.2.2
cryptography==43.0.1
dnspython==2.7.0
docopt==0.6.2
email-validator==2.2.0
flask==3.0.3
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-Principal==0.4.0
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
greenlet==3.1.1
idna==3.10
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==3.0.1
packaging==24.1
pip-upgrader==1.4.15
psycopg2-binary==2.9.10
pycparser==2.22
PyMySQL==1.1.1
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.35
terminaltables==3.1.10
typing-extensions==4.12.2
urllib3==2.2.3
werkzeug==3.0.4
wtforms==3.1.2
zipp==3.20.2
