<!DOCTYPE html>
<html lang="ca">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My App</title>
	<link href="/static/css/my_app.css" rel="stylesheet">
</head>

<body>
	<h3>Items</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>NOM</th>
			<th>UNITATS</th>
		</tr>
		{% for item in items %}
			<tr>
				<td>{{ item['id'] }}</a></td>
				<td>{{ item['nom'] }}</a></td>
				<td>{{ item['unitats'] }}</a></td>
			</tr>
		{% endfor %}
	</table>
</body>

</html>
